# Variables de entorno para Hardhat y frontend
# Copia este archivo como .env y completa con tus datos

# Clave privada de tu wallet para desplegar contratos (sin 0x)
PRIVATE_KEY=your_private_key_here

# Variables para el frontend (prefijo VITE_ es requerido)
VITE_LENDING_PROTOCOL_ADDRESS=0x7809790a4FF93B9CB9e563BB8D09771bcD75d51D
VITE_COLLATERAL_TOKEN_ADDRESS=0x464f40745CEd1b7Fd9D6FC91a4dbe8D74cb8ff37
VITE_LOAN_TOKEN_ADDRESS=0x7f17765F765bEaD532FcD456f01Da38B409a243c
VITE_RPC_URL=https://rpc.ephemery.dev 