# Variables de entorno para Hardhat y frontend
# Copia este archivo como .env y completa con tus datos

# Clave privada de tu wallet para desplegar contratos (sin 0x)
PRIVATE_KEY=your_private_key_here

# Dirección de tu wallet para recibir tokens iniciales (solo si vas a desplegar)
USER_ADDRESS=your_wallet_address_here

# Variables para el frontend (prefijo VITE_ es requerido)
VITE_LENDING_PROTOCOL_ADDRESS=0x8B6931A0a04B7394b48142D0566BdA9B42c18FA7
VITE_COLLATERAL_TOKEN_ADDRESS=0xBAc47C6B5b0E15E61D8e8ecb546A322050146379
VITE_LOAN_TOKEN_ADDRESS=0xea0420645Fa21FDb317DB34D67d3Bb3aF154a19b
VITE_RPC_URL=https://rpc.ephemery.dev 